h1 {
    color: navy;
    margin-left: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
}
