<!DOCTYPE html>
<html>
<head>
    <title>Add Income</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Add Income</h1>
    <form action="/incomes/add" method="POST">
        <input type="number" name="amount" placeholder="Amount" required>
        <input type="text" name="description" placeholder="Description" required>
        <button type="submit">Add Income</button>
    </form>
</body>
</html>
