<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to My Budget App</h1>
    <p><a href="/auth/login">Login</a></p>
    <p><a href="/auth/signup">Signup</a></p>
</body>
</html>
